{% extends 'application.html' %}

{% block category_actions %}
<br>
<a href="{{url_for('newCategory')}}" class="btn btn-default">New Category</a>
<br>
<br>
{% endblock %}


{% block content %}
    <div class="latest-items col-xs-12 col-sm-9">
      <h2>Latest Items</h2>
      {% for item in latest %}
        <div class="item">
          <a href="{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}">
            {{item.name}}
          </a>
          ({{item.category_name}})
        </div>
      {% endfor %}
    </div>
{% endblock %}
