{% extends 'application.html' %}
{% block content %}
<h1>New Item</h1>
<div class="col-xs-12">
  <form action="{{url_for('newItem', category_name=category_name)}}" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type='text' name='name' id="name" value="{{params['name']}}">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea name='description' id="description">{{params['description']}}</textarea>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type='text' name='price' id="price" value={{params['price']}}>
    </div>
    <div class="form-group">
      <input type='submit' value='Create'>
    </div>
  </form>
</div>
{% endblock %}
